<configuration>
   <timestamp key="byDay" datePattern="yyyy-MM-dd"/>

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file> C:\Log\Circle\log-${byDay}.txt </file>
      <append>true</append>
      <encoder>
         <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
   </appender>
<logger name="com.stackroute.activitystream.*" level="warn">
    <appender-ref ref="FILE" />
  </logger>
   <root level="debug">
      <appender-ref ref="FILE" />
      <appender-ref ref="STDOUT" />
   </root>
 <logger name="com.stackroute.activitystream.*" level="INFO"/>
  <logger name="com.stackroute.activitystream.*" level="WARN"/>
</configuration>


